@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

div {
  padding: 10px;
  margin: 10px;
}
.madeby{
  text-align: right;
}

h1,
div,
.text {
  text-align: center;
}

div.App {
  padding: 0;
  border: none;
}

.text {
  border-radius: 4px;
  width: 70%;
  height: 30px;

}

/* .app {
  width: 100%;
  height: 100%;
}
.root {
  width: 100%;
  height: 100%;
} */
.todos {
  margin: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
}

button {
  margin-left: 10px;
}

.btn1 {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.btn1:hover {
  letter-spacing: 0.5px;
  transform: scale(1.1);
  cursor: pointer;
}